{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="content-wrapper">
<div class="container-fluid">

 
    <div class="card mb-3">
        <div class="card-header bg-primary">
           <h3><b><font color="white">{% trans "Sign In" %}</font></b></h3></div>
        <div class="card-body">


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Пожалуйста, войдите в систему с помощью одной
из существующих учетных записей. Или, <a href="{{ signup_url }}">зарегестрируйтесь</a>
и войдите в систему:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}Если вы еще не создали учетную запись, пожалуйста,
<a href="{{ signup_url }}">зарегестрируйтесь</a> {% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">

  {% csrf_token %}
  <div class="well">
    
  {{ form.as_p }}
</div>
  

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
  <button class="btn btn-primary" type="submit">{% trans "Войти" %}</button>
 
</form>

</div>
</div>
</div>
</div>
{% endblock %}
