<!DOCTYPE html>
<html lang="en">
<head>
    <title>Добавить новость</title>
    {% include 'baseHead.html' %}
</head>
<body>

<style>
    #right_info {
        float: right;
    }

    #content {
        width: 100%;
        white-space: pre-wrap;
        font-size: 116%;

    }

    .row {
        width: 99%;
    }
</style>

{% include 'navbar.html' %}

<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <center><h1>Добавление новости</h1></center>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Добавить новость</button>
        </form>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

</div>


</body>
</html>