{% extends 'Shop/standartPageTemplate.html' %}

{% load static %}

{% block content %}

    <div class="row" style="width: 99%;">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <br><br><br>
            <h4>

                SWeb - крупнейшая российская интернет-площадка, предоставляющая широкий спектр услуг, включая<br>
                возможность продвигать свой товар, покупать товары по самым низким ценам, читать передовые новости на
                странице SWeb/news.<br><br>

                По состоянию на 31 апреля 2021 года, SWeb предоставляет услуги около 7 тысячам клиентам и продавцам
                товаров<br>
                по всем миру.<br><br>

                Сотни отзывов от довольных покупателей и высокое качество интрнет-площадки, позволяет нам покорять всё
                новые и новые высота!<br><br>

                А наш новостной портал посетило уже 25000 человек с более 15 стран!<br><br>

                Заказывая у нас товар, или создавая новую статью, можете быть уверенны, наша команда не подведёт
                вас,<br>
                мы сделаем всё для максимально комфортного использования наших сервисов!<br><br>
            </h4>

            <center>
                <img src="{% static 'Shop/img/vgarantii.jpg' %}" title="Нам доверяют. Гарантия качества"
                     alt="Нам доверяют. Гарантия качества" style="width: 50%;">
            </center>

        </div>
        <br>

    </div>

{% endblock %}