{% extends 'Shop/standartPageTemplate.html' %}
{% load static %}
{% block content %}

    <div class="row" style="width: 99%;">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <br><br><br>
            <h4>

                <center><h1>Связаться с нами</h1></center>

                <h4>

<style>
    #textContact{
        margin-top: 15px;
        font-size: 100%;
    }
</style>

<pre style="word-wrap: break-word; white-space: pre-wrap;" id="textContact">

<strong>Для вашего удобства, были добавленны несколько способ для связи с нами:</strong>


    1)Почта:
    <strong>site-hunter@yandex.ru</strong>(Основная почта)

    <strong>cpv9908@gmail.com</strong>(Почта для прямой связи с Администрацией проекта)

    <strong>chekashovmatvey@gmail.com</strong>(Можете писать и предлагать идеи по улучшению сайта на эту почту)


    2)Телефон:
    <strong>+7 937 740 79 87</strong>(Основной)


    3)Мы в соц. сетях:
    VK - <strong>vk.com/matvey.chekashov</strong>(Главный Администратор сайта)

    Telegram - <strong>t.me/mchekashov</strong>(Главный Администратор сайта)
</pre>
                </h4>
                <br><br>

                <center>
                    <img src="{% static 'Shop/img/garantiya-kachestva.png' %}" title="Гарантия качества 100%"
                         alt="Гарантия качества 100%" style="width: 50%;">
                </center>
                <br>


        </div>

    </div>

{% endblock %}