{% extends 'Shop/standartPageTemplate.html' %}
{% load static %}
{% block content %}

    <div class="row" style="width: 99%;">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
<br><br><br>
            <h4>

SWeb - является интернет-площадкой, где каждый может разместить свой товар.<br>
Из-за этого мы не можем контролировать каждую покупку товара,<br>
но не следует огорчаться! Мы полностью доверяем нашим продавцам.
<br><br>
Но в случае возникновения спорных или иных неприятных происшествий,<br>
вы можете написать нам на почту или позвонить и мы разберёмся во всём сами!
<br><br>
Мы гарантируем вам сохранность купленного вами товара, его состоянием,<br>
качеством и готовы возместить вам ущёрб за некачественный товар.
            </h4><br><br>

            <center>
                <img src="{% static 'Shop/img/garantiya-kachestva.png' %}" title="Гарантия качества 100%" alt="Гарантия качества 100%" style="width: 50%;">
            </center><br>

        </div>

    </div>

{% endblock %}